.root {
  text-align: center;
  padding: 100px 30px;

  .heading {
    margin-bottom: 24px;
  }
  .text {
    font-size: 24px;
    margin-bottom: 60px;
  }
  .btn {
    font-size: 18px;
    height: 70px;
    width: 180px;
  }
}